body {
    font-family: 'Ubuntu', sans-serif;
}

.bloque {
    margin-top: 10px;
    margin-bottom: 20px;
}

main section {
    counter-reset: section;
}

.pregunta:before{
    counter-increment: section;
    content: counter(section) ". ";
}

.pregunta{
    display: inline;
}

.respuesta{
    display: inline;
}

.respuesta[data-valor="true"]:after {
    content: "V";
}

.respuesta[data-valor="false"]:after {
    content: "F";
}